 &__age-input {
    width: 59px;
    height: 37px;
    text-align: center;
  }

  &__select {
    &--position {
      margin-right: 10px;
    }

    // &--level {
    // margin-right: 10px;
    // }
  }

  &__selects 
